<aside class="sidebar">
  <ul style="list-style: none; padding: 0">
    <li class="active" style="margin-bottom: 10px">
      <a href="/" style="display: flex; align-items: center">
        <img
          src="/img/side_dashboard.png"
          alt="Dashboard"
          style="width: 24px; margin-right: 10px"
        />
        Dashboard
      </a>
    </li>
    <li style="margin-bottom: 10px">
      <a href="/auth/login" style="display: flex; align-items: center">
        <img
          src="/img/side_profile.png"
          alt="Signup"
          style="width: 24px; margin-right: 10px"
        />
        Signup
      </a>
    </li>
    <li style="margin-bottom: 10px">
      <a href="/input" style="display: flex; align-items: center">
        <img
          src="/img/side_addexpense.png"
          alt="Add Expense"
          style="width: 24px; margin-right: 10px"
        />
        Add Expense
      </a>
    </li>
    <li style="margin-bottom: 10px">
      <a href="/stats" style="display: flex; align-items: center">
        <img
          src="/img/side_stats.png"
          alt="Stats"
          style="width: 24px; margin-right: 10px"
        />
        Stats
      </a>
    </li>
    <li style="margin-bottom: 10px">
      <a href="/result" style="display: flex; align-items: center">
        <img
          src="/img/side_result.png"
          alt="Result"
          style="width: 24px; margin-right: 10px"
        />
        Result
      </a>
    </li>
    <li>
      <a href="/logout" style="display: flex; align-items: center">
        <img
          src="/img/side_signout.png"
          alt="Signout"
          style="width: 24px; margin-right: 10px"
        />
        Signout
      </a>
    </li>
  </ul>
</aside>
